'.source.js':
  '$.ajaxSetup()':
    'prefix': 'ajaxsetup'
    'body': '\$.ajaxSetup({\n\turl: \'${1:/path/to/file}\',\n\t${2:type: \'${3:default GET (Other values: POST)}\',}\n\t${4:dataType: \'${5:default: Intelligent Guess (Other values: xml, json, script, or html)}\',}\n\t${6:data: {param1: \'value1\'\\},}\n})\n${7:.done(function() {\n\tconsole.log("success");\n\\})}\n${8:.fail(function() {\n\tconsole.log("error");\n\\})}\n${9:.always(function() {\n\tconsole.log("complete");\n\\})};\n$0'