".source.js, .source.js-semantic":
	"$.ajaxStart()":
		prefix: "ajaxstart"
		body: '''
			$.ajaxStart(function() {
				${1:/* Stuff to do when an AJAX call is started and no other AJAX calls are in progress */};
			});
			$0
		'''
".source.coffee":
	"$.ajaxStart()":
		prefix: "ajaxstart"
		body: '''
			$.ajaxStart () ->
				${1:/* Stuff to do when an AJAX call is started and no other AJAX calls are in progress */}
			$0
		'''
