".source.js, .source.js-semantic":
	"$.ajaxSuccess()":
		prefix: "ajaxsuccess"
		body: '''
			$.ajaxSuccess(function(event, xhr, settings) {
				${1:/* executes whenever an AJAX request completes successfully */}
			});$0
		'''
".source.coffee":
	"$.ajaxSuccess()":
		prefix: "ajaxsuccess"
		body: '''
			$.ajaxSuccess (event, xhr, settings) ->
				${1:# executes whenever an AJAX request completes successfully}
			$0
		'''
