".source.js, .source.js-semantic":
	"$.ajaxStop()":
		prefix: "ajaxstop"
		body: '''
			$.ajaxStop((function() {
				${1:/* stuff to do when all AJAX calls have completed */};
			});
			$0
		'''
".source.coffee":
	"$.ajaxStop()":
		prefix: "ajaxstop"
		body: '''
			$.ajaxStop () ->
				${1:/* stuff to do when all AJAX calls have completed */}
			$0
		'''
