".source.js, .source.js-semantic":
	"$.get()":
		prefix: "get"
		body: '''
			$.get('${1:/path/to/file}', function(data) {
				${3:/*optional stuff to do after success */}
			/});$0
		'''
".source.coffee":
	"$.get()":
		prefix: "get"
		body: '''
			$.get '${1:/path/to/file}', (data) ->
				${3:# optional stuff to do after success}
			$0
		'''
