".source.js, .source.js-semantic":
	"$.getScript()":
		prefix: "get"
		body: '''
			$.getScript('${1:path/to/file}', function(data, textStatus) {
				${3:/*optional stuff to do after getScript */ }
			});$0
		'''
".source.coffee":
	"$.getScript()":
		prefix: "get"
		body: '''
			$.getScript '${1:path/to/file}', (data, textStatus) ->
				${3:# optional stuff to do after getScript}
			$0
		'''
