".source.js, .source.js-semantic":
	"$.inArray()":
		prefix: "inarray"
		body: "$.inArray(${1:value}, ${2:array});$0"
".source.coffee":
	"$.inArray()":
		prefix: "inarray"
		body: "$.inArray ${1:value}, ${2:array}$0"
