".source.js, .source.js-semantic":
	"$.unique()":
		prefix: "unique"
		body: '''
			$.unique(${1:DOMelementArray});$0
		'''
".source.coffee":
	"$.unique()":
		prefix: "unique"
		body: '''
			$.unique ${1:DOMelementArray}$0
		'''
