".source.js, .source.js-semantic":
	"$.ajax()":
		prefix: "ajax"
		body: '''
			$.ajax({
				url: '${1:/path/to/file}',
				${2:type: '${3:default GET (Other values: POST)}',}
				${4:dataType: '${5:default: Intelligent Guess (Other values: xml, json, script, or html)}',}
				${6:data: {param1: 'value1'}}
			}).then(
				function( data, textStatus, xhr ) {
					${7:console.log("success");}
				},
				function( data, textStatus, xhr ) {
					${8:console.log("error");}
				});
			$0
		'''
".source.coffee":
	"$.ajax()":
		prefix: "ajax"
		body: '''
			$.ajax
				url: '${1:/path/to/file}'
				${2:type: '${3:default GET (Other values: POST)}'}
				${4:dataType: '${5:default: Intelligent Guess (Other values: xml, json, script, or html)}'}
				${6:data: param1: 'value1'}
			.then ( data, textStatus, xhr ) ->
					${7:console.log("success")}
				, ( xhr, textStatus, errorThrown ) ->
					${8:console.log("error")}
			$0
		'''
