".source.js, .source.js-semantic":
	".ajaxComplete()":
		prefix: "ajaxComplete"
		body: '''
			ajaxComplete(function(event, xhr, settings) {
				${1:/* executes whenever an AJAX request completes */}
			});$0
		'''
".source.coffee":
	".ajaxComplete()":
		prefix: "ajaxComplete"
		body: '''
			ajaxComplete (event, xhr, settings) ->
				${1:# executes whenever an AJAX request completes}
			$0
		'''
