".source.js, .source.js-semantic":
	".bind":
		prefix: "bind"
		body: '''
			bind('${1:event name}', ${2:eventData}, function(${3:event}) {
				${0:/* Act on the event */}
			});
		'''
".source.coffee":
	".bind":
		prefix: "bind"
		body: '''
			bind '${1:event name}', ${2:eventData}, (${3:event}) ->
				${0:# Act on the event}
		'''
