".source.js, .source.js-semantic":
	".clearQueue()":
		prefix: "clearQueue"
		body: "clearQueue(${1:queueName});$0"
".source.coffee":
	".clearQueue()":
		prefix: "clearQueue"
		body: "clearQueue ${1:queueName}$0"
