".source.js, .source.js-semantic":
	".delay()":
		prefix: "delay"
		body: "delay(${1:milliseconds}${2:, 'queueName'})$0"
".source.coffee":
	".delay()":
		prefix: "delay"
		body: "delay ${1:milliseconds}${2:, 'queueName'}$0"
