".source.js, .source.js-semantic":
	"document.ready - $(function()":
		prefix: "$ready"
		body: '''
			$(function() {
				$1
			});$0
		'''
".source.coffee":
	"document.ready - $(function()":
		prefix: "$ready"
		body: '''
			$ ->
				$1
			$0
		'''
