".source.js, .source.js-semantic":
	"$(document).ready":
		prefix: "document.ready"
		body: '''
			$(document).ready(function() {
				$1
			});$0
		'''
".source.coffee":
	"$(document).ready":
		prefix: "document.ready"
		body: '''
			$(document).ready ->
				$1
			$0
		'''
