".source.js, .source.js-semantic":
	".error()":
		prefix: "error"
		body: '''
			error(${1:function() {
				${0:/* Act on the event */}
			}});
		'''
".source.coffee":
	".error()":
		prefix: "error"
		body: '''
			error ${1:() ->
				${0:# Act on the event}
			}
		'''
