".source.js, .source.js-semantic":
	".fadeTo()":
		prefix: "fadeto"
		body: '''
			fadeTo('${1:slow/400/fast}', ${2:0.5}${3:, function() {
				$4
			}});$0
		'''
".source.coffee":
	".fadeTo()":
		prefix: "fadeto"
		body: '''
			fadeTo '${1:slow/400/fast}', ${2:0.5}${3:, ->
				$4
			}$0
		'''
