".source.js, .source.js-semantic":
	".filter function":
		prefix: "filter"
		body: '''
			filter(function(index) {
				${1:return ${2:something};}
			});$0
		'''
".source.coffee":
	".filter function":
		prefix: "filter"
		body: '''
			filter (index) ->
				${1:return ${2:something}}
			$0
		'''
