".source.js, .source.js-semantic":
	".hasClass":
		prefix: "hasClass"
		body: "hasClass('${1:className}')$0"
".source.coffee":
	".hasClass":
		prefix: "hasClass"
		body: "hasClass '${1:className}'$0"
