".source.js, .source.js-semantic":
	hide:
		prefix: "hide"
		body: '''
			hide('${1:slow/400/fast}'${2:, function() {
				$3
			}});$0
		'''
".source.coffee":
	hide:
		prefix: "hide"
		body: '''
			hide '${1:slow/400/fast}'${2:, ->
				$3
			}$0
		'''
