".source.js, .source.js-semantic":
	keydown:
		prefix: "keydown"
		body: '''
			keydown(${1:function(${2:event}) {
				${0:/* Act on the event */}
			}});
		'''
".source.coffee":
	keydown:
		prefix: "keydown"
		body: '''
			keydown ${1:(${2:event}) ->
				${0:# Act on the event}
			}
		'''
