".source.js, .source.js-semantic":
	keyup:
		prefix: "keyup"
		body: '''
			keyup(${1:function(${2:event}) {
				${0:/* Act on the event */}
			}});
		'''
".source.coffee":
	keyup:
		prefix: "keyup"
		body: '''
			keyup ${1:(${2:event} ->
				${0:/* Act on the event */}
		'''
