'.source.js':
  '.load':
    'prefix': 'load'
    'body': 'load(\'/path/to/file\',{\n${2:param1: "value1", param2: "value2"\} },\n\tfunction(){\n\t${3:/* Stuff to do after the page is loaded */}\n});\n$0'