".source.js, .source.js-semantic":
	".load":
		prefix: "load"
		body: '''
			load(${1:function() {
				${0:/* Act on the event */}
			}});
		'''
".source.coffee":
	".load":
		prefix: "load"
		body: '''
			load ${1:() ->
				${0:/* Act on the event */}
			}
		'''
