".source.js, .source.js-semantic":
	mouseout:
		prefix: "mouseout"
		body: '''
			mouseout(${1:function(${2:event}) {
				${0:/* Act on the event */}
			}});
		'''
".source.coffee":
	mouseout:
		prefix: "mouseout"
		body: '''
			mouseout ${1:(${2:event}) ->
				${0:# Act on the event}
			}
		'''
