".source.js, .source.js-semantic":
	".on()":
		prefix: "on"
		body: '''
			on('${1:click}'${2:, '${3:.selector}'}, function(${4:event}) {
				${5:event.preventDefault();}
				${6:/* Act on the event */}
			});
		'''
".source.coffee":
	".on()":
		prefix: "on"
		body: '''
			on '${1:click}'${2:, '${3:.selector}'}, (${4:event}) ->
				${5:event.preventDefault()}
				${6:# Act on the event}
		'''
