".source.js, .source.js-semantic":
	".prop() - multiple":
		prefix: "prop"
		body: '''
			prop({
				${1:property1}: '${2:value1}'},
				${3:property2}: '${4:value2}'},
			})$0
		'''
".source.coffee":
	".prop() - multiple":
		prefix: "prop"
		body: '''
			prop
				${1:property1}: '${2:value1}'}
				${3:property2}: '${4:value2}'}
			$0
		'''
