".source.js, .source.js-semantic":
	".prop() - single":
		prefix: "prop"
		body: "prop('${1:property}', '${2:value}')$0"
".source.coffee":
	".prop() - single":
		prefix: "prop"
		body: "prop '${1:property}', '${2:value}'$0"
