".source.js, .source.js-semantic":
	replaceWith:
		prefix: "replaceWith"
		body: '''
			replaceWith('${1:htmlString/DOMElement/jQueryObject}'${2:, function() {
				$3
			}});$0
		'''
".source.coffee":
	replaceWith:
		prefix: "replaceWith"
		body: '''
			replaceWith '${1:htmlString/DOMElement/jQueryObject}'${2:, () ->
				$3}$0
		'''
