".source.js, .source.js-semantic":
	".reset()":
		prefix: "reset"
		body: '''
			reset(${1:function(${2:event}) {
				${3:/* Act on the event */}
			}});$0
		'''
".source.coffee":
	".reset()":
		prefix: "reset"
		body: '''
			reset ${1:(${2:event}) ->
				${3:/* Act on the event */}
			}$0
		'''
