".source.js, .source.js-semantic":
	resolveWith:
		prefix: "resolveWith"
		body: "resolveWith(${1:context}${2:, args})$0"
".source.coffee":
	resolveWith:
		prefix: "resolveWith"
		body: "resolveWith ${1:context}${2:, args}$0"
