".source.js, .source.js-semantic":
	".serializeArray()":
		prefix: "serializeArray"
		body: "serializeArray()$0"
".source.coffee":
	".serializeArray()":
		prefix: "serializeArray"
		body: "serializeArray()$0"