".source.js, .source.js-semantic":
	show:
		prefix: "show"
		body: '''
			show('${1:slow/400/fast}'${2:, function() {
				$3
			}});$0
		'''
".source.coffee":
	show:
		prefix: "show"
		body: '''
			show '${1:slow/400/fast}'${2:, () ->
				$3
			}$0
		'''
