".source.js, .source.js-semantic":
	".slideDown()":
		prefix: "slideDown"
		body: '''
			slideDown('${1:slow/400/fast}'${2:, function() {
				$3
			}});$0
		'''
".source.coffee":
	".slideDown()":
		prefix: "slideDown"
		body: '''
			slideDown '${1:slow/400/fast}'${2:, () ->
				$3
			}$0
		'''
