".source.js, .source.js-semantic":
	triggerHandler:
		prefix: "triggerHandler"
		body: "triggerHandler('${1:event name}')$0"
".source.coffee":
	triggerHandler:
		prefix: "triggerHandler"
		body: "triggerHandler '${1:event name}'$0"
